*.aux
*.auxlock
*.fdb_latexmk
*.fls
*.xdv
*.bbl
*.brf
*.blg
*.log
*.out
*.synctex.gz
*.fmt
*.atfi
*.dvi
*.md5
*.dpth
*.auxlock
*.cot
*.tex.map
*.idx
*.ilg
*.toc
*.ind
*.pdf
.auctex-auto/*
_region_.tex
includes.tex
*.bare_tex
